{% extends "base.html" %}
{% block title %}freelancers{% endblock %}
{% block link%}
<link rel="stylesheet" href="../static/styles/freelancer.css">
{% endblock %}
{% block page_content %}
<div class="container">
    <div class="row">
        <div class="col-4 p-3">
            <form>
                <div class="form-floating mb-3">
                    <select class="form-select" id="availability" aria-label="Floating label select example">
                        <option value="0">-</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <label for="availability">Availability</label>
                </div> 
                <div class="form-floating mb-3">
                    <select class="form-select" id="experience" aria-label="Floating label select example">
                        <option value="0">-</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                      <label for="experience">Experience</label>
                </div> 
                <div class="mb-3">
                    <div class="d-flex justify-content-between mb-1"><label>Hourly Rate</label>
                        <div>
                            <input class="text-center form-control" type="number" name="hourly_rate" value="">
                        </div>
                    </div>
                    <input type="range" class="form-range customRange" value="1" min="1" max="100">
                </div>
                <div class="d-grid">
                    <button class="button" type="button">Filter</button>
                </div>
              </form>
        </div>
        <div class="col-8 ms-auto p-3">
            <div class="d-flex flex-wrap justify-content-between container">
                {% for freelancer in freelancers%}
                <div class="card expert p-3 mb-4" style="width: 20rem;">
                    <div class="avator mx-auto"> 
                        <img src="../static/images/1default_profile.png" alt="{{ freelancer.username }}"> 
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">{{ freelancer.username }}</h5>
                            <p class="text-uppercase">{{ freelancer.service}}</p>
                        </div>
                      <div class="d-flex justify-content-around">
                        <div>
                            <i style="color: #6f4685;" class="fa fa-clock-o" aria-hidden="true"></i> <p class="d-inline">{{ freelancer.availability }}</p>
                        </div>
                        <div class="mb-4">
                            <i style="color: #6f4685" class="fa fa-calendar-check-o" aria-hidden="true"></i> <p class="d-inline">{{ freelancer.experience }}</p>
                        </div>
                      </div>              
                      <div class="card-footer d-flex justify-content-between">
                        <h3 style="color: #6f4685;">R{{ freelancer.hourly_rate}}/hr</h3>
                        <a href="#" class="card-link" style="color: #392A48;"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                        </a>
                      </div>  
                    </div>
                  </div>
                  {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}